<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h3">ngx-canvas-graph wrapper</span>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="alert alert-success " role="alert">{{lastMessage}}</div>
      <button (click)="recreate()" class="btn btn-outline-success mx-2">Recreate</button>
      <button (click)="plain = !plain; recreate()" class="btn btn-outline-success mx-2">Toggle Plain/Custom</button>
    </div>
    <div class="col-md-10">
      <lib-ngx-canvas-graph *ngIf="!plain" [graphId]="'customId'" [graphSettings]="{ 
        width: 1800, 
        height: 1000, 
        nodesep: 25, 
        ranksep: 10, 
        rankdir: 'LR' }"
        [graphData]="graphData"
        (nodeClick)="nodeClick($event)"
        (nodeMouseOver)="nodeMouseOver($event)"
        (nodeDrawOverride) = "customNodeDraw($event)"
        (linkDrawOverride) = "customLinkDraw($event)"
        (clearOverride)="clearOverride($event)"
        ></lib-ngx-canvas-graph>

        <lib-ngx-canvas-graph *ngIf="plain" [graphId]="'customId'" 
          [graphData]="graphData"
          (nodeClick)="nodeClick($event)"
          (nodeMouseOver)="nodeMouseOver($event)"
          ></lib-ngx-canvas-graph>

          
    </div>
  </div>
</div>